language: objective-c
osx_image: xcode8.1
branches:
  only:
    - master
install:
  - bundle install
  - bundle exec pod repo update
  - bundle exec pod install --project-directory=ExampleProject/CodeGenerationExample
script:
  - ruby -X Tests test.rb
  - scan --scheme CodeGenerationExample --workspace ExampleProject/CodeGenerationExample/CodeGenerationExample.xcworkspace
rvm:
  - 2.0
  - 2.3
notifications:
  email:
    on_success: never
