language: objective-c
osx_image: xcode8.0
branches:
  only:
    - master
install:
  - gem install bundler
  - export PATH="$PWD/bin:$PATH"
  - bundle install
  - pod setup  > /dev/null
  - pod install --project-directory=ExampleProject/CodeGenerationExample
script:
  - ruby -X Tests test.rb
  - scan --scheme CodeGenerationExample --workspace ExampleProject/CodeGenerationExample/CodeGenerationExample.xcworkspace
rvm:
  - 2.0
  - 2.3.1
notifications:
  email:
    on_success: never
